In [42]:
import pandas as pd
import numpy as np

In [43]:
PATH_CUSTOMERS = 'output/customers_data.csv'
PATH_ORDERS = 'output/orders_data.csv'
PATH_PRODUCTS = 'output/products_data.csv'

### Inspect Duplicate

#### Customer Data

In [45]:
customers_data.duplicated().value_counts()

True     5084
False    4910
dtype: int64

In [120]:
customers_data[customers_data['customer_id'] == 'CG-12520']

,customer_id,customer_name,segment,country,city,state,postal_code,region
0,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South
1,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South
5491,CG-12520,Claire Gute,Consumer,United States,Houston,Texas,77070,Central
6877,CG-12520,Claire Gute,Consumer,United States,Dallas,Texas,75217,Central
6878,CG-12520,Claire Gute,Consumer,United States,Dallas,Texas,75217,Central

In [121]:
customers_data[customers_data['customer_id'] == 'TB-21520']

,customer_id,customer_name,segment,country,city,state,postal_code,region
27,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,Pennsylvania,19140,East
28,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,Pennsylvania,19140,East
29,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,Pennsylvania,19140,East
30,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,Pennsylvania,19140,East
31,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,Pennsylvania,19140,East
32,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,Pennsylvania,19140,East
33,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,Pennsylvania,19140,East
71,TB-21520,Tracy Blumstein,Consumer,United States,Jackson,Michigan,49201,Central
283,TB-21520,Tracy Blumstein,Consumer,United States,Portland,Oregon,97206,West
284,TB-21520,Tracy Blumstein,Consumer,United States,Portland,Oregon,97206,West
285,TB-21520,Tracy Blumstein,Consumer,United States,Portland,Oregon,97206,West
871,TB-21520,Tracy Blumstein,Consumer,United States,Concord,New Hampshire,3301,East
1888,TB-21520,Tracy Blumstein,Consumer,United States,Fairfield,Ohio,45014,East
1889,TB-21520,Tracy Blumstein,Consumer,United States,Fairfield,Ohio,45014,East
6042,TB-21520,Tracy Blumstein,Consumer,United States,Sierra Vista,Arizona,85635,West
6873,TB-21520,Tracy Blumstein,Consumer,United States,Beaumont,Texas,77705,Central
6874,TB-21520,Tracy Blumstein,Consumer,United States,Beaumont,Texas,77705,Central
7343,TB-21520,Tracy Blumstein,Consumer,United States,New York City,New York,10009,East
9229,TB-21520,Tracy Blumstein,Consumer,United States,Los Angeles,California,90045,West
9230,TB-21520,Tracy Blumstein,Consumer,United States,Los Angeles,California,90045,West

##### Product Data

In [46]:
products_data.duplicated().value_counts()

True     8100
False    1894
dtype: int64

In [133]:
products_data[products_data["product_id"]== "FUR-CH-10001146"]

,product_id,category,sub_category,product_name
66,FUR-CH-10001146,Furniture,Chairs,"Global Value Mid-Back Manager's Chair, Gray"
128,FUR-CH-10001146,Furniture,Chairs,"Global Task Chair, Black"
1067,FUR-CH-10001146,Furniture,Chairs,"Global Value Mid-Back Manager's Chair, Gray"
1267,FUR-CH-10001146,Furniture,Chairs,"Global Value Mid-Back Manager's Chair, Gray"
1881,FUR-CH-10001146,Furniture,Chairs,"Global Value Mid-Back Manager's Chair, Gray"
2003,FUR-CH-10001146,Furniture,Chairs,"Global Value Mid-Back Manager's Chair, Gray"
4559,FUR-CH-10001146,Furniture,Chairs,"Global Value Mid-Back Manager's Chair, Gray"
6742,FUR-CH-10001146,Furniture,Chairs,"Global Task Chair, Black"
7425,FUR-CH-10001146,Furniture,Chairs,"Global Value Mid-Back Manager's Chair, Gray"
7591,FUR-CH-10001146,Furniture,Chairs,"Global Task Chair, Black"
7940,FUR-CH-10001146,Furniture,Chairs,"Global Task Chair, Black"
8456,FUR-CH-10001146,Furniture,Chairs,"Global Task Chair, Black"
8891,FUR-CH-10001146,Furniture,Chairs,"Global Value Mid-Back Manager's Chair, Gray"
9254,FUR-CH-10001146,Furniture,Chairs,"Global Value Mid-Back Manager's Chair, Gray"
9807,FUR-CH-10001146,Furniture,Chairs,"Global Value Mid-Back Manager's Chair, Gray"

##### Order Data

In [47]:
orders_data.duplicated().value_counts()

False    5009
True     4985
dtype: int64

In [48]:
transactions_data.duplicated().value_counts()

False    9993
True        1
dtype: int64

### Drop duplicate data

In [115]:
def drop_duplicated(dataset, 
                    keep=None,
                    subset = None,
                    inplace=False,
                    ignore_index=True):
    
    dataset = dataset.drop_duplicates(keep=keep,
                                      subset=subset,
                                      inplace=inplace, 
                                      ignore_index=ignore_index)
    
    return dataset

##### Inspect date Data

In [99]:
orders_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    9994 non-null   object
 1   order_date  9994 non-null   object
 2   ship_date   9994 non-null   object
 3   ship_mode   9994 non-null   object
dtypes: object(4)
memory usage: 312.4+ KB

In [100]:
orders_data.head(2)

         order_id order_date   ship_date     ship_mode
0  CA-2016-152156  11/8/2016  11/11/2016  Second Class
1  CA-2016-152156  11/8/2016  11/11/2016  Second Class

##### Parsing date

In [101]:
def clean_date(dataset,
               columns=None):
    
    for col in columns:
        dataset[col] = pd.to_datetime(orders_data[col])
        
    return dataset

Remove unnecessary Punctiation

In [102]:
dataset = {'customers':customers_data, 'products': products_data, 'orders':orders_data, 
           'transactions':transactions_data}

orders_columns_to_parse = ["order_date", "ship_date"]

In [134]:
def run(save_file=True):
    for data in dataset:
        
        if data == "customers":
            subset = ["customer_id", "customer_name"]
            dataset[data] = drop_duplicated(dataset[data], subset=subset , keep='last')
        elif data == "products":
            subset = "product_id"
            dataset[data] = drop_duplicated(dataset[data], subset=subset , keep='last')
        elif data == "transactions":
            subset = ["order_id", "customer_id", "product_id"]
            dataset[data] = drop_duplicated(dataset[data], subset=subset , keep='last')
        else:
            dataset[data] = drop_duplicated(dataset[data], keep='last')
        
        if data == "products":
            dataset[data]["product_name"] = dataset[data]["product_name"].str.replace("\'", "")
        elif data == "customers":
            dataset[data]["customer_name"] = dataset[data]["customer_name"].str.replace("\'", "")
        
        if data == 'orders':
            clean_date(dataset[data], orders_columns_to_parse)    
            
        if save_file:
            dataset[data].to_csv('output/'+data+'_clean.csv', index=False)

In [135]:
if __name__ == '__main__':
    run()
    print("-------------------------cleaning process done-----------------------------")

-------------------------cleaning process done-----------------------------