In [42]:
import pandas as pd
import numpy as np

In [43]:
PATH_CUSTOMERS = 'output/customers_data.csv'
PATH_ORDERS = 'output/orders_data.csv'
PATH_PRODUCTS = 'output/products_data.csv'

### Inspect Duplicate

#### Customer Data

In [45]:
customers_data.duplicated().value_counts()

True     5084
False    4910
dtype: int64

In [ ]:
customers_data[customers_data['customer_id'] == 'CG-12520']

##### Product Data

In [46]:
products_data.duplicated().value_counts()

True     8100
False    1894
dtype: int64

##### Order Data

In [47]:
orders_data.duplicated().value_counts()

False    5009
True     4985
dtype: int64

In [48]:
transactions_data.duplicated().value_counts()

False    9993
True        1
dtype: int64

### Drop duplicate data

In [115]:
def drop_duplicated(dataset, 
                    keep=None,
                    subset = None,
                    inplace=False,
                    ignore_index=True):
    
    dataset = dataset.drop_duplicates(keep=keep,
                                      subset=subset,
                                      inplace=inplace, 
                                      ignore_index=ignore_index)
    
    return dataset

##### Inspect date Data

In [99]:
orders_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   order_id    9994 non-null   object
 1   order_date  9994 non-null   object
 2   ship_date   9994 non-null   object
 3   ship_mode   9994 non-null   object
dtypes: object(4)
memory usage: 312.4+ KB

In [100]:
orders_data.head(2)

         order_id order_date   ship_date     ship_mode
0  CA-2016-152156  11/8/2016  11/11/2016  Second Class
1  CA-2016-152156  11/8/2016  11/11/2016  Second Class

##### Parsing date

In [101]:
def clean_date(dataset,
               columns=None):
    
    for col in columns:
        dataset[col] = pd.to_datetime(orders_data[col])
        
    return dataset

In [102]:
dataset = {'customers':customers_data, 'products': products_data, 'orders':orders_data, 
           'transactions':transactions_data}

orders_columns_to_parse = ["order_date", "ship_date"]

In [116]:
def run(save_file=True):
    for data in dataset:
        
        if data == "customers":
            subset = ["customer_id", "customer_name"]
            dataset[data] = drop_duplicated(dataset[data], subset=subset , keep='last')
        else:
            dataset[data] = drop_duplicated(dataset[data], keep='first')
        
        if data == 'orders':
            clean_date(dataset[data], orders_columns_to_parse)    
            
        if save_file:
            dataset[data].to_csv('output/'+data+'_clean.csv', index=False)

In [117]:
if __name__ == '__main__':
    run()
    print("-------------------------cleaning process done-----------------------------")

-------------------------cleaning process done-----------------------------